* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
   font-family: WTGaramono-Regular, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
  background: #aaaaaa; 
  color: #111;
  height: 100vh;
  overflow: hidden;
}

.top-bar {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 14px;
	line-height: 18px;
  display: flex;
  width: 100%;
}

@media (max-width: 600px){
  .top-bar {
    justify-content: center;
    left: 0;
  }

  #datetime {
    position: static; 
  }
}

@font-face {
    font-family: WTGaramono-Regular;
    src: url(fonts/WTGaramono-Regular.woff) format("woff");
    font-weight: 400;
    font-style: normal
}


@font-face {
    font-family: WTGaramono-Italic;
    src: url(fonts/WTGaramono-Italic.woff) format("woff");
   
}


/* Center content */
main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

main h1 {
  font-size: 14px;
line-height: 18px;
  font-weight: 400;
}

.body-italic{
  font-family: WTGaramono-Italic;
}

main p {
  font-size: 14px;
	line-height: 18px;

}


a {
  text-decoration: none;
}

a:link, a:visited, a:hover, a:active {
  color: black;
}

::selection {
  background-color: white;
  color: black; 
	
}



@media (max-width: 600px){
  .top-bar{
    text-align: center;
  }
}


/* Footer */
footer {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}





@media (max-width: 600px) {
  footer {
    flex-direction: column;
    text-align: center;
    gap: 4px;
  }
}